<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.psst.tool.rcp.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.psst.tool.rcp.core.Perspective"
            id="PsstToolRCP.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.psst.tool.rcp.view.ChangeFileExtView"
            id="com.psst.tool.rcp.view.ChangeFileExtView"
            name="批量更换文件后缀名">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="PsstToolRCP.application"
            name="PsstToolRCP">
         <property
               name="appName"
               value="PsstToolRCP">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="PsstToolRCP.application"
            name="PsstToolRCP">
         <property
               name="appName"
               value="PsstToolRCP">
         </property>
      </product>
   </extension>
   <extension
         id="product2"
         point="org.eclipse.core.runtime.products">
      <product
            application="PsstToolRCP.application"
            name="rcp">
         <property
               name="appName"
               value="rcp">
         </property>
      </product>
   </extension>
   <extension
         id="product3"
         point="org.eclipse.core.runtime.products">
      <product
            application="PsstToolRCP.application"
            name="rcp">
      </product>
   </extension>
   <extension
         id="product4"
         point="org.eclipse.core.runtime.products">
      <product
            application="PsstToolRCP.application"
            name="rcp">
         <property
               name="appName"
               value="rcp">
         </property>
      </product>
   </extension>
   <extension
         id="product5"
         point="org.eclipse.core.runtime.products">
      <product
            application="PsstToolRCP.application"
            name="第一个RCP插件">
         <property
               name="appName"
               value="第一个RCP插件">
         </property>
         <property
               name="windowImages"
               value="icons/Pz_004_16x16.gif,icons/Pz_004_32x32.gif,icons/Pz_004_48x48.gif,icons/Pz_004_64x64.gif,icons/Pz_004_128x128.gif,icons/Pz_004_256x256.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/Pz_004_64x64.gif">
         </property>
         <property
               name="aboutText"
               value="这是时永胜的小工具">
         </property>
      </product>
   </extension>

</plugin>
